body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 11rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 13.75rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 8.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 7.7rem;
    font-size: calc( 4.5rem + (11 - 4.5) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (4.5rem + (11 - 4.5) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4232e2 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #818181 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4232e2 !important;
  border-color: #4232e2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2417a6 !important;
  border-color: #2417a6 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2417a6 !important;
  border-color: #2417a6 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #818181 !important;
  border-color: #818181 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #565656 !important;
  border-color: #565656 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #565656 !important;
  border-color: #565656 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4232e2;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2417a6 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4232e2 !important;
  border-color: #4232e2 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #818181;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #565656 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #818181 !important;
  border-color: #818181 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4232e2 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #818181 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #4232e2 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff6666 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #40b0bf !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #47b5ed !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffe161 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #818181 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
.nav-tabs .nav-link.active {
  color: #4232e2;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #818181;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4232e2;
  border-color: #4232e2;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4232e2;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e7e5fb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c1c1c1;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4232e2 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #4232e2;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4232e2;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4232e2;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4232e2;
  border-bottom-color: #4232e2;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4232e2 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234232e2' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sje8w1qMRd {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background-image: url("../../../assets/images/img-20231012-182447-2000x3552.jpeg");
}
.cid-sje8w1qMRd .link-wrapper {
  width: 100%;
}
.cid-sje8w1qMRd .link {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.cid-sje8w1qMRd .link:before {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(0px);
}
.cid-sje8w1qMRd .link:after {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0rem;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(-33px);
}
.cid-sje8w1qMRd .link:hover:before {
  transform: rotate(-45deg) translateX(33px);
}
.cid-sje8w1qMRd .link:hover:after {
  transform: rotate(-45deg) translateX(0px);
}
.cid-sje8w1qMRd .mbr-section-title DIV {
  text-align: center;
}
.cid-sje8w1qMRd .mbr-text,
.cid-sje8w1qMRd .mbr-section-btn {
  text-align: center;
}
.cid-sje8w1qMRd .link,
.cid-sje8w1qMRd .link-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-sje8w1qMRd .mbr-section-title {
  color: #ffffff;
}
.cid-tSyZMUA7Ce {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tSyZMUA7Ce .line {
  border-top: 1px solid #000000;
  width: 100%;
  margin: 0 1rem;
  margin-top: 5rem;
}
.cid-tSyZMUA7Ce .container-fluid {
  max-width: 1400px;
}
.cid-tSyZMUA7Ce .mbr-section-title,
.cid-tSyZMUA7Ce .mbr-text {
  max-width: 1200px;
}
.cid-tSyZMUA7Ce img {
  width: 140px;
}
@media (max-width: 767px) {
  .cid-tSyZMUA7Ce img {
    margin: auto;
  }
}
.cid-tSyZMUA7Ce .mbr-text {
  color: #818181;
}
.cid-tSzdBxSvnS {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tSzdBxSvnS .content-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 45px 50px;
  text-align: center;
  background-image: linear-gradient(-120deg, rgba(202, 151, 210, 0.94), rgba(94, 94, 240, 0.94) 46%, rgba(92, 195, 238, 0.94));
}
@media (max-width: 680px) {
  .cid-tSzdBxSvnS .content-container {
    flex-wrap: wrap;
  }
}
.cid-tSzdBxSvnS .item-img {
  display: flex;
  width: 190px;
  height: 190px;
  margin-right: 38px;
}
.cid-tSzdBxSvnS .item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cid-tSzdBxSvnS .text-wrap {
  flex-grow: 1;
}
@media (max-width: 680px) {
  .cid-tSzdBxSvnS .text-wrap {
    margin-top: 23px;
  }
}
.cid-tSzdBxSvnS .link-text {
  color: #ffffff;
  margin-top: 20px;
}
.cid-tSzdBxSvnS .link-text a {
  margin-right: 15px;
}
.cid-tSzdBxSvnS .mbr-text {
  color: #ffffff;
  margin-bottom: 0;
}
.cid-tSzdBxSvnS .mbr-text-name {
  color: #ffffff;
  margin-bottom: 11px;
}
.cid-tSzdBxSvnS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tSzdBxSvnS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tSyWKCDOJG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tSyWKCDOJG .container {
  max-width: 1400px;
}
.cid-tSyWKCDOJG img,
.cid-tSyWKCDOJG .item-img {
  width: 100%;
  position: relative;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tSyWKCDOJG img:before,
.cid-tSyWKCDOJG .item-img:before {
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  transition: all 0.3s;
  height: 100%;
  background: #4232e2;
  position: absolute;
  z-index: 10;
}
.cid-tSyWKCDOJG img:hover:before,
.cid-tSyWKCDOJG .item-img:hover:before {
  opacity: 0.2;
}
.cid-tSyWKCDOJG .item:focus,
.cid-tSyWKCDOJG span:focus {
  outline: none;
}
.cid-tSyWKCDOJG .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tSyWKCDOJG .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tSyWKCDOJG .item-content {
  padding-top: 1.5rem;
}
.cid-tSyWKCDOJG .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tSyWKCDOJG .mbr-section-title {
  color: #232323;
}
.cid-tSyWKCDOJG .mbr-text,
.cid-tSyWKCDOJG .mbr-section-btn {
  color: #818181;
}
.cid-tT9DFefdBl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 1400px) {
  .cid-tT9DFefdBl .container-fluid .row {
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .cid-tT9DFefdBl .col-lg-3 {
    max-width: 330px;
  }
}
.cid-tT9DFefdBl img {
  object-fit: cover;
  transition: all 0.3s;
  max-height: 100%;
}
.cid-tT9DFefdBl .item-img {
  background: #ffffff;
  padding: 0.7rem;
}
.cid-tT9DFefdBl .item-img:hover {
  padding: 0;
}
.cid-tT9DFefdBl .container {
  max-width: 1400px;
}
.cid-tT9DFefdBl img,
.cid-tT9DFefdBl .item-img {
  transition: all 0.3s;
  width: 100%;
  position: relative;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tT9DFefdBl .item:focus,
.cid-tT9DFefdBl span:focus {
  outline: none;
}
.cid-tT9DFefdBl .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tT9DFefdBl .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tT9DFefdBl .item {
  padding: 0;
  margin: 0;
}
.cid-tT9DFefdBl .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tT9DFefdBl .item-content {
  padding-top: 1.5rem;
}
.cid-tT9DFefdBl .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tT9DFefdBl .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-tT9DFefdBl .mbr-text,
.cid-tT9DFefdBl .mbr-section-btn {
  color: #818181;
}
.cid-tSzg44cvVc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #6592e6;
}
.cid-tSzg44cvVc .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tSzg44cvVc .btn-white,
.cid-tSzg44cvVc .btn-white:active,
.cid-tSzg44cvVc .btn-white:hover {
  background-color: white!important;
  color: black!important;
  box-shadow: none;
  border: none;
  margin: 0;
}
.cid-tSzg44cvVc .container {
  max-width: 1800px;
}
.cid-tSzg44cvVc .form-row {
  margin: 0;
}
@media (max-width: 992px) {
  .cid-tSzg44cvVc .md-pb {
    padding-bottom: 2rem;
  }
}
.cid-tSzg44cvVc .form-group {
  margin-bottom: 0rem;
}
.cid-tSzg44cvVc .btn {
  border-radius: 0;
  height: 100%;
  padding: 0 2rem;
}
.cid-tSzg44cvVc .col,
.cid-tSzg44cvVc .col-auto {
  padding: 0;
  height: auto;
}
.cid-tSzg44cvVc .form-control,
.cid-tSzg44cvVc .field-input {
  padding: 1.5rem 2rem;
  border-radius: 0;
}
.cid-tSzg44cvVc .form-control,
.cid-tSzg44cvVc .field-input {
  padding: 1.5rem 2rem;
  border-radius: 0;
  background-color: #ffffff;
  border-color: #ffffff !important;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tSzg44cvVc .form-control::-webkit-input-placeholder,
.cid-tSzg44cvVc .field-input::-webkit-input-placeholder,
.cid-tSzg44cvVc .form-control::-webkit-input-placeholder,
.cid-tSzg44cvVc .field-input::-webkit-input-placeholder {
  color: #bbbbbb;
}
.cid-tSzg44cvVc .form-control:-moz-placeholder,
.cid-tSzg44cvVc .field-input:-moz-placeholder,
.cid-tSzg44cvVc .form-control:-moz-placeholder,
.cid-tSzg44cvVc .field-input:-moz-placeholder {
  color: #bbbbbb;
}
.cid-tSzg44cvVc .form-control:hover,
.cid-tSzg44cvVc .field-input:hover,
.cid-tSzg44cvVc .form-control:focus,
.cid-tSzg44cvVc .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff !important;
  color: #232323;
  box-shadow: none;
  outline: none;
}
.cid-tSzg44cvVc .form-control:hover::-webkit-input-placeholder,
.cid-tSzg44cvVc .field-input:hover::-webkit-input-placeholder,
.cid-tSzg44cvVc .form-control:focus::-webkit-input-placeholder,
.cid-tSzg44cvVc .field-input:focus::-webkit-input-placeholder,
.cid-tSzg44cvVc .form-control:hover::-webkit-input-placeholder,
.cid-tSzg44cvVc .field-input:hover::-webkit-input-placeholder,
.cid-tSzg44cvVc .form-control:focus::-webkit-input-placeholder,
.cid-tSzg44cvVc .field-input:focus::-webkit-input-placeholder {
  color: #bbbbbb;
}
.cid-tSzg44cvVc .form-control:hover:-moz-placeholder,
.cid-tSzg44cvVc .field-input:hover:-moz-placeholder,
.cid-tSzg44cvVc .form-control:focus:-moz-placeholder,
.cid-tSzg44cvVc .field-input:focus:-moz-placeholder,
.cid-tSzg44cvVc .form-control:hover:-moz-placeholder,
.cid-tSzg44cvVc .field-input:hover:-moz-placeholder,
.cid-tSzg44cvVc .form-control:focus:-moz-placeholder,
.cid-tSzg44cvVc .field-input:focus:-moz-placeholder {
  color: #bbbbbb;
}
.cid-tSzg44cvVc .jq-number__spin:hover,
.cid-tSzg44cvVc .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-tSzg44cvVc .jq-number__spin {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tSzg44cvVc .jq-selectbox li,
.cid-tSzg44cvVc .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-tSzg44cvVc .jq-selectbox li:hover,
.cid-tSzg44cvVc .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-tSzg44cvVc .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-tSzg44cvVc .jq-number__spin.minus:hover:after,
.cid-tSzg44cvVc .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tSzg44cvVc .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-tSzg44cvVc .jq-number__spin.minus:after,
.cid-tSzg44cvVc .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tSzg44cvVc input::-webkit-clear-button {
  display: none;
}
.cid-tSzg44cvVc input::-webkit-inner-spin-button {
  display: none;
}
.cid-tSzg44cvVc input::-webkit-outer-spin-button {
  display: none;
}
.cid-tSzg44cvVc input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-tSzg44cvVc .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tSzfUfKmxK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tSzfUfKmxK .container {
  max-width: 1200px;
}
.cid-tSzfUfKmxK a {
  position: relative;
  font-weight: bold;
  background: none!important;
}
.cid-tSzfUfKmxK a:before {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transition: all 0.3s;
  background: currentColor;
  position: absolute;
}
.cid-tSzfUfKmxK a:hover:before {
  width: 0;
  right: 0;
  left: auto;
}
.cid-tSzfUfKmxK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tSzfUfKmxK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tSzfRRWqTm {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-image: url("../../../assets/images/-2023-10-19-21.55.57-2000x675.png");
}
.cid-tSzfRRWqTm .link-wrapper {
  width: 100%;
}
.cid-tSzfRRWqTm .link {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.cid-tSzfRRWqTm .link:before {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(0px);
}
.cid-tSzfRRWqTm .link:after {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0rem;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(-33px);
}
.cid-tSzfRRWqTm .link:hover:before {
  transform: rotate(-45deg) translateX(33px);
}
.cid-tSzfRRWqTm .link:hover:after {
  transform: rotate(-45deg) translateX(0px);
}
.cid-tSzfRRWqTm .mbr-section-title DIV {
  text-align: center;
}
.cid-tSzfRRWqTm .mbr-text,
.cid-tSzfRRWqTm .mbr-section-btn {
  text-align: center;
}
.cid-tSzfRRWqTm .link,
.cid-tSzfRRWqTm .link-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-tSzfRRWqTm .mbr-section-title {
  color: #ffffff;
}
.cid-tSzfRRWqTm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tSzfRRWqTm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tSyXFC3EGz {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tSyXFC3EGz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tSyXFC3EGz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tSyXFC3EGz .desc {
  position: absolute;
  left: 16px;
  bottom: 0;
  transform: rotate(-90deg);
  margin: 1.5rem 0;
  transform-origin: bottom left;
}
.cid-tSyXFC3EGz .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tSyXFC3EGz .row .img-item {
  display: -webkit-flex;
  padding: 1rem;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.cid-tSyXFC3EGz .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tSzfPqCNTc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tSzfPqCNTc .image-col {
  padding: 0;
}
@media (min-width: 992px) {
  .cid-tSzfPqCNTc .container-fluid {
    padding-right: 0;
  }
}
@media (max-width: 1750px) {
  .cid-tSzfPqCNTc .img-last {
    padding-right: 1rem;
  }
  .cid-tSzfPqCNTc .img-first {
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tSzfPqCNTc .img-last {
    padding-right: 0rem;
  }
  .cid-tSzfPqCNTc .img-first {
    padding-left: 0rem;
  }
  .cid-tSzfPqCNTc .img-col {
    padding: 0 1rem!important;
  }
}
.cid-tSzfPqCNTc img {
  height: 100%;
  object-fit: cover;
}
.cid-tSzfPqCNTc .line {
  width: 100%;
  border-bottom: 1px solid #000000;
  margin: 0 1rem;
}
@media (max-width: 767px) {
  .cid-tSzfPqCNTc .line {
    margin: 0;
  }
}
.cid-tSzfPqCNTc .text-wrapper {
  max-width: 600px;
  padding: 4rem 0rem;
}
.cid-tSzfPqCNTc .link-wrapper {
  width: 100%;
}
.cid-tSzfPqCNTc .link {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.cid-tSzfPqCNTc .link:before {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(0px);
}
.cid-tSzfPqCNTc .link:after {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0rem;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(-33px);
}
.cid-tSzfPqCNTc .link:hover:before {
  transform: rotate(-45deg) translateX(33px);
}
.cid-tSzfPqCNTc .link:hover:after {
  transform: rotate(-45deg) translateX(0px);
}
.cid-tSzfPqCNTc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tSzfPqCNTc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-sjeXMH3PPE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sjeXMH3PPE .container {
  max-width: 1400px;
}
.cid-sjeXMH3PPE img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 300px;
}
.cid-sjeXMH3PPE p {
  line-height: 1.8;
}
.cid-sjeWw7YtGT {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sjeWw7YtGT .container {
  max-width: 1400px;
}
.cid-sjeWw7YtGT .mbr-text {
  color: #bbbbbb;
  text-align: center;
}
.cid-tT9EKCayzl .navbar-dropdown {
  position: relative !important;
}
.cid-tT9EKCayzl .navbar.collapsed ul.navbar-nav li {
  margin: 0;
  width: fit-content;
}
.cid-tT9EKCayzl .container-fluid {
  padding: 0 1rem;
  margin: 0 auto;
}
.cid-tT9EKCayzl .icons-menu {
  width: fit-content;
  padding: 0 4rem;
  padding-bottom: 3rem;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tT9EKCayzl .icons-menu {
    padding: 0 3rem;
  }
}
.cid-tT9EKCayzl .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tT9EKCayzl .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tT9EKCayzl .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tT9EKCayzl .dropdown-item:hover,
.cid-tT9EKCayzl .dropdown-item:focus {
  background: #4232e2 !important;
  color: white !important;
}
.cid-tT9EKCayzl .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tT9EKCayzl .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tT9EKCayzl .nav-dropdown {
  padding: 3rem 2rem;
}
@media (max-width: 767px) {
  .cid-tT9EKCayzl .nav-dropdown {
    padding: 2rem 0rem;
  }
}
.cid-tT9EKCayzl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 1rem !important;
}
.cid-tT9EKCayzl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tT9EKCayzl .nav-link {
  position: relative;
}
.cid-tT9EKCayzl .container {
  display: flex;
  margin: auto;
}
.cid-tT9EKCayzl .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tT9EKCayzl .dropdown-menu,
.cid-tT9EKCayzl .navbar.opened {
  background: #f0ccba !important;
  min-height: 100%;
}
.cid-tT9EKCayzl .nav-item:focus,
.cid-tT9EKCayzl .nav-link:focus {
  outline: none;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tT9EKCayzl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tT9EKCayzl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em .5em 0.235em 1.3em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tT9EKCayzl .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #f0ccba;
}
.cid-tT9EKCayzl .navbar.opened {
  transition: all 0.3s;
}
.cid-tT9EKCayzl .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tT9EKCayzl .navbar .navbar-logo img {
  width: auto;
}
.cid-tT9EKCayzl .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tT9EKCayzl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tT9EKCayzl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tT9EKCayzl .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem .5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-tT9EKCayzl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tT9EKCayzl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tT9EKCayzl .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tT9EKCayzl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem .5rem !important;
    text-align: center;
  }
  .cid-tT9EKCayzl .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tT9EKCayzl .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-tT9EKCayzl .navbar.navbar-short {
  min-height: 60px;
}
.cid-tT9EKCayzl .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tT9EKCayzl .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tT9EKCayzl .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tT9EKCayzl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tT9EKCayzl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tT9EKCayzl .dropdown-item.active,
.cid-tT9EKCayzl .dropdown-item:active {
  background-color: transparent;
}
.cid-tT9EKCayzl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tT9EKCayzl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tT9EKCayzl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tT9EKCayzl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f0ccba;
}
.cid-tT9EKCayzl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tT9EKCayzl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tT9EKCayzl ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tT9EKCayzl .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tT9EKCayzl button.navbar-toggler[aria-expanded="false"] .hamburger span {
  background-color: #000000;
}
.cid-tT9EKCayzl button.navbar-toggler[aria-expanded="true"] .hamburger span {
  background: #000000;
}
.cid-tT9EKCayzl button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tT9EKCayzl .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tT9EKCayzl a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tT9EKCayzl .navbar {
    height: 70px;
  }
  .cid-tT9EKCayzl .navbar.opened {
    height: auto;
  }
  .cid-tT9EKCayzl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tT9EKCayzl .navbar-dropdown {
  position: relative !important;
}
.cid-tT9EKCayzl .navbar.collapsed ul.navbar-nav li {
  margin: 0;
  width: fit-content;
}
.cid-tT9EKCayzl .container-fluid {
  padding: 0 1rem;
  margin: 0 auto;
}
.cid-tT9EKCayzl .icons-menu {
  width: fit-content;
  padding: 0 4rem;
  padding-bottom: 3rem;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tT9EKCayzl .icons-menu {
    padding: 0 3rem;
  }
}
.cid-tT9EKCayzl .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tT9EKCayzl .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tT9EKCayzl .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tT9EKCayzl .dropdown-item:hover,
.cid-tT9EKCayzl .dropdown-item:focus {
  background: #4232e2 !important;
  color: white !important;
}
.cid-tT9EKCayzl .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tT9EKCayzl .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tT9EKCayzl .nav-dropdown {
  padding: 3rem 2rem;
}
@media (max-width: 767px) {
  .cid-tT9EKCayzl .nav-dropdown {
    padding: 2rem 0rem;
  }
}
.cid-tT9EKCayzl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 1rem !important;
}
.cid-tT9EKCayzl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tT9EKCayzl .nav-link {
  position: relative;
}
.cid-tT9EKCayzl .container {
  display: flex;
  margin: auto;
}
.cid-tT9EKCayzl .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tT9EKCayzl .dropdown-menu,
.cid-tT9EKCayzl .navbar.opened {
  background: #f0ccba !important;
  min-height: 100%;
}
.cid-tT9EKCayzl .nav-item:focus,
.cid-tT9EKCayzl .nav-link:focus {
  outline: none;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tT9EKCayzl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tT9EKCayzl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tT9EKCayzl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em .5em 0.235em 1.3em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tT9EKCayzl .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #f0ccba;
}
.cid-tT9EKCayzl .navbar.opened {
  transition: all 0.3s;
}
.cid-tT9EKCayzl .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tT9EKCayzl .navbar .navbar-logo img {
  width: auto;
}
.cid-tT9EKCayzl .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tT9EKCayzl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tT9EKCayzl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tT9EKCayzl .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tT9EKCayzl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem .5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-tT9EKCayzl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tT9EKCayzl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tT9EKCayzl .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tT9EKCayzl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tT9EKCayzl .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem .5rem !important;
    text-align: center;
  }
  .cid-tT9EKCayzl .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tT9EKCayzl .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-tT9EKCayzl .navbar.navbar-short {
  min-height: 60px;
}
.cid-tT9EKCayzl .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tT9EKCayzl .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tT9EKCayzl .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tT9EKCayzl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tT9EKCayzl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tT9EKCayzl .dropdown-item.active,
.cid-tT9EKCayzl .dropdown-item:active {
  background-color: transparent;
}
.cid-tT9EKCayzl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tT9EKCayzl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tT9EKCayzl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tT9EKCayzl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f0ccba;
}
.cid-tT9EKCayzl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tT9EKCayzl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tT9EKCayzl ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tT9EKCayzl .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tT9EKCayzl button.navbar-toggler[aria-expanded="false"] .hamburger span {
  background-color: #000000;
}
.cid-tT9EKCayzl button.navbar-toggler[aria-expanded="true"] .hamburger span {
  background: #000000;
}
.cid-tT9EKCayzl button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tT9EKCayzl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tT9EKCayzl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tT9EKCayzl .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tT9EKCayzl a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tT9EKCayzl .navbar {
    height: 70px;
  }
  .cid-tT9EKCayzl .navbar.opened {
    height: auto;
  }
  .cid-tT9EKCayzl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sje8w1qMRd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/img-20231012-182448-2000x3552.jpeg");
}
.cid-sje8w1qMRd .link-wrapper {
  width: 100%;
}
.cid-sje8w1qMRd .link {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.cid-sje8w1qMRd .link:before {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(0px);
}
.cid-sje8w1qMRd .link:after {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0rem;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(-33px);
}
.cid-sje8w1qMRd .link:hover:before {
  transform: rotate(-45deg) translateX(33px);
}
.cid-sje8w1qMRd .link:hover:after {
  transform: rotate(-45deg) translateX(0px);
}
.cid-sje8w1qMRd .mbr-section-title DIV {
  text-align: center;
}
.cid-sje8w1qMRd .mbr-text,
.cid-sje8w1qMRd .mbr-section-btn {
  text-align: center;
}
.cid-sje8w1qMRd .link,
.cid-sje8w1qMRd .link-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-sje8w1qMRd .mbr-section-title {
  color: #ffffff;
}
.cid-tT9DUyOtAm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-tT9DUyOtAm .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-tT9DUyOtAm .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tT9DUyOtAm .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tT9DUyOtAm .mbr-gallery-filter {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-tT9DUyOtAm .container {
  padding: 0;
}
.cid-tT9DUyOtAm .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-tT9DUyOtAm .icon-focus {
  display: none;
}
.cid-tT9DUyOtAm .btn-primary-outline {
  border: none !important;
  color: gray !important;
  padding: 1rem 1rem;
  position: relative;
  background: transparent !important;
  font-weight: 400;
}
.cid-tT9DUyOtAm .btn-primary-outline:hover {
  background: transparent !important;
  color: #4232e2 !important;
}
.cid-tT9DUyOtAm li.active .btn {
  background: transparent !important;
  color: black !important;
}
.cid-tT9DUyOtAm li {
  position: relative;
}
.cid-tT9DUyOtAm .mbr-gallery-filter ul li:not(:last-child):after {
  content: '';
  position: absolute;
  height: 24px;
  width: 1px;
  right: 0px;
  top: 26px;
  background: lightgray;
  transform: rotate(35deg);
}
.cid-tT9DUyOtAm .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-tT9DUyOtAm .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-tT9DUyOtAm .mbr-gallery-item > div:hover:before {
  opacity: 0.3 !important;
}
.cid-tT9DUyOtAm .btn {
  font-family: DM Sans !important;
}
.cid-tT9DUyOtAm .mbr-gallery-title {
  font-size: 0.9em;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  height: 100%;
  padding: 2rem;
  color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s;
  opacity: 0;
}
.cid-tT9DUyOtAm .mbr-gallery-title:hover {
  opacity: 1;
}
.cid-tT9DUyOtAm .mbr-gallery-title:before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #000000 !important;
  opacity: 0.3;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
@media (max-width: 767px) {
  .cid-tT9DUyOtAm li:not(:last-child):after {
    top: 9px;
  }
  .cid-tT9DUyOtAm .btn-primary-outline {
    padding: 0rem 1rem;
    margin: 0 !important;
  }
}
.cid-sjeWKZ3GaO {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.cid-sjeWKZ3GaO .link-wrapper {
  width: 100%;
}
.cid-sjeWKZ3GaO .link {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.cid-sjeWKZ3GaO .link:before {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(0px);
}
.cid-sjeWKZ3GaO .link:after {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0rem;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(-33px);
}
.cid-sjeWKZ3GaO .link:hover:before {
  transform: rotate(-45deg) translateX(33px);
}
.cid-sjeWKZ3GaO .link:hover:after {
  transform: rotate(-45deg) translateX(0px);
}
.cid-sjeWKZ3GaO .mbr-section-title DIV {
  text-align: center;
}
.cid-sjeWKZ3GaO .mbr-text,
.cid-sjeWKZ3GaO .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-sjeWKZ3GaO .link,
.cid-sjeWKZ3GaO .link-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-sjeWKZ3GaO .mbr-section-title {
  color: #ffffff;
}
.cid-sjeXMH3PPE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sjeXMH3PPE .container {
  max-width: 1400px;
}
.cid-sjeXMH3PPE img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 300px;
}
.cid-sjeXMH3PPE p {
  line-height: 1.8;
}
.cid-sjeWw7YtGT {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;
}
.cid-sjeWw7YtGT .container {
  max-width: 1400px;
}
.cid-sjeWw7YtGT .mbr-text {
  color: #bbbbbb;
  text-align: center;
}
